body { 
    background-color: black; 
    color:white;
   text-decoration: underline;
  
 }

h1 {
text-align: center;
color:white;
 }
 .bold-items ul {
    font-weight: bold;
 }
 
p { 
text-align: center;
line-height: 1.6;
max-width: 800px;
margin: 0% auto;
font-size: 16px;
}

.hero {
     background: linear-gradient(to right, #a18cd1, #fbc2eb);
     color: white;
     text-align: center;
     padding: 100px 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: white;
    color: #a18cd1;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hero .btn:hover {
    background-color: #f1e6ff;
    color: #6a4fc3;
    transition: scale(1.05);
    box-shadow: 0 0 15px rgba(186, 151, 255, 0.4);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0.4);
}

.bio-text {
    max-width: 500px;
    text-align: left;
}
#about {
    background: linear-gradient(to bottom,  #6a4fc3, #1e1b3a );
    padding: 80px 20px;
    color: white;
}

.about-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 40px auto;
    max-width: 900px;
}

.info-box div {
    min-width: 200px;
}

.info-box ul {
    list-style: none;
    padding: 0;
}

.info-box li {
    padding: 6px 0;
    font-weight: 500;
}

#projects {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    text-align: left;
}

#projects h4 {
    margin-bottom: 10px;
    color: #fbc2eb;
}

.project p {
    line-height: 1.6;
}

 .project a {
    color:#a18cd1;
    text-decoration: none;
}

 .project a:hover {
    text-decoration: underline;
}

#education {
    background-color: #0e0c1f;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  display: block;
  margin: 0 auto;
}

button:hover {
    background-color: lightgrey;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: lightgrey;
} 

#skills-tools {
    background: linear-gradient(to bottom, #1e1b3a, #15132d);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.skills ul {
    list-style: none
    padding 0;
}

.skills li {
    font-weight: 500;
    margin-bottom: 10px;
}

#contact-section {
    margin-top: 50px;
    
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

content-container {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}

.left section {
    flex:1;
    margin-right: 40px;
}
.left-section img {
    max-width:  width 100%;
    border: radius 10px;
}
.right-section {
    flex: 2;
}

.right-section h1 {
    font-size: 24px;
    text-align:center;
}

.right-section p {
    font-size: 16px;
    line-height: 1.6;
}

#connect {
background-color: #0e0c1f;
color: white;
padding: 50px 20px;
    text-align: center;
}

.connect h8 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.connect-buttons a {
    display: inline-block;
    margin: 10px;
    padding: 1opx 20px;
    background-color: #a18cd1;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.connect-buttons a:hover {
    background-color: #fbc2eb;
    color: #1e1b3a;
}